.header {
	height: 80px;
	width: 100%;
	background: navy;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		padding: 0 32px;
	}
	&__nav {
		display: flex;
		list-style: none;
		margin: 0;
		&-item {
			margin-left: 32px;
		}
		&-link {
			color: #fff;
		}
	}
}