<header class="header">
  <div class="header__inner">
    <ul class="header__nav">
      <li class="header__nav-item">
        <a routerLink="" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/page1" class="header__nav-link">Page 1</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/page2" class="header__nav-link">Page 2</a>
      </li>
    </ul>
  </div>
</header>