<div class="section">
  <h1 class="section__title"> Deep Purple Albums </h1>
  <div class="section__table">
    <ul class="section__list">
      <li class="section__list-item">
        <span> ID </span>
        <span> Name </span>
        <span> ModuleValue </span>
      </li>
      <li class="section__list-item" *ngFor="let item of data">
        <span [routerLink]="[item?.id]"> {{item?.id}} </span>
        <span> {{item?.name}} </span>
        <span> {{item?.rating | moduleValue}} </span>
      </li>
    </ul>
  </div>
</div>
