body, html {
	margin: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.section {
	&__title {
		text-align: center;
		margin: 64px 0;
	}
	&__list {
		list-style: none;
		width: 80%;
		padding: 0;
		margin: 0 auto;
		&-item {
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 16px;
			&:first-of-type {
				margin-bottom: 32px;
			}
			span {
				display: inline-block;
				text-align: center;
				width: 100%;
				&:first-of-type {
					cursor: pointer;
				}
			}
		}
	}
}
